<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Inspiration the Day</title>
    <style type="text/css" media="screen">
     * {
       margin: 0; 
       padding: 0;
     }

     div#banner { 
       position: fixed; 
       top: 0; 
       left: 0; 
       background-color: #5B85AA; 
       width: 100%; 
       text-align: center
     }
     div#banner-content { 
       width: 800px; 
       margin: 0 auto; 
       padding: 15px; 
       border: 0px solid #000;
       font-family: "Gill Sans Extrabold", sans-serif;
       font-weight: 600
     }
     div#main-content { 
       padding-top: 70px;
       text-align: left
    }

      body {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh; 
        background-color: #000000	; 
        flex-direction: column; 
        font-family: "Quicksand", sans-serif;
        color: white;
      }
      #container {
        display: grid;
        grid-template-columns: 10fr 2fr;
        gap: 1px;
        max-width: 1000px;
        margin: 25px auto;
        align-items: center;
      }

      #quote {
        background-color: #785D84;
        color: #fff;
        padding: 25px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        width: 120%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      a{
        font-family: "Quicksand", sans-serif;
        color: white;
        text-decoration: none;
      }
      img {
        max-width: 80%; 
        max-height: 80vh; 
        height: auto;
        width: auto;
        margin-top: 10px; 
        margin-bottom: 10px; 
      }
    </style>
  </head>

  <body>
    <div id="banner">
      <div id="banner-content">
      <a href="/">😌 Inspiration of the Day</a> 
      </div>
    </div>
    <div id="main-content">
      <%= yield %>
    </div>
  </body>
</html>
