<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
     <style>
      body {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh; /* Adjusted to min-height for smaller content */
        background-color: #f0f0f0; /* Optional: Set a background color */
        flex-direction: column; /* Stack items vertically */
      }

      img {
        max-width: 80%; /* Adjust as needed */
        max-height: 80vh; /* Adjust as needed */
        height: auto;
        width: auto;
        margin-top: 20px; /* Add margin at the top */
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
